[2020-12-15 11:33] damb opened #4 "Detect detector overload and issue warning"
Records drop in one at a time and are stored by the corresponding `Detector` within stream buffers. Those stream buffers are implemented as ring buffers. Only once there is an overlapping time window of data available for all streams, `Template` processors perform the cross-correlation. Again, the `Detector` keeps track of the time window successfully processed.

Besides, a `Detector` comes along

[2020-12-22 09:47] damb opened #7 "Resampling"
Another result from the last meeting.

Mismatches regarding *sampling frequency* between the template waveform and the data to be matched should be handled as follows:

- Apply an *antialias* filter before resampling.
- EDIT: Apply resampling before filtering.
- If no filters are configured, always resample to the sampling frequency of the data to be matched. This is the simple case. The implement

[2020-12-22 09:56] damb opened #8 "Sensor orientation mismatch"
The sensor orientation of the template waveform data and the data to be matched might differ. Therefore, always check for the sensor orientation (from the inventory metadata) of the stream to be matched and rotate the template waveform if required (@jfclinton).

[2021-01-19 17:00] damb opened #19 "Parameterize dataset from commandline"
For integration tests it would be useful to configure the dataset by means of a configuration file. Then, the *dataset file* is passed on the commandline as described in the [Boost.Test documentation](https://www.boost.org/doc/libs/1_72_0/libs/test/doc/html/boost_test/runtime_config/custom_command_line_arguments.html#boost_test.runtime_config.custom_command_line_arguments.example_descr2).

This ap

[2021-01-22 14:24] damb opened #20 "Handle changing sampling rates"
Currently, concrete implementations of `WaveformProcessor` do not handle changing sampling rates (w.r.t. records).

OT: Note that the corresponding Seiscomp core implementation i.e. [Seiscomp::Processing::WaveformProcessor](https://github.com/SeisComP/common/blob/85be802a3f7d983a255fbf26d3cbb387085ad4d1/libs/seiscomp/processing/waveformprocessor.h#L42) doesn't handle changing sampling rates, too (

[2021-04-22 12:25] ramasuri-CH opened #34 "Add template based magnitude-amplitude regression from seismatch and adapt for RT use."
**References**:
- [seismatch](https://gitlab.seismo.ethz.ch/microEQ/TM) sources
- https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2019JB017468

[2021-05-20 11:14] luca-s opened #36 "STY: update Waveform::Trim"
I just wanted to report that  I have recently improved [scrtdd Waveform:trim](https://github.com/swiss-seismological-service/scrtdd/blob/f7784d11f4212087719171c2b33a005581993557/libs/hdd/waveform.cpp#L176) implementation. You might  be interested in porting the changes here

[2021-07-02 12:25] #20 closed

[2021-07-02 12:27] damb commented on #7
As discussed with @ramasuri-CH resampling is applied **before** the data is filtered.

[2021-07-02 12:27] damb commented on #7
Closed with #39.

[2021-07-02 12:27] #7 closed

[2021-07-07 08:22] Donavin97 opened #40 "compilation error using seiscomp4.6.0"
Hello everyone.
I am getting a strange error when trying to compile scdetect using seiscomp4.6.0 on ubuntu20.04.2LTS.
I have installed all required dependencies and currently using cmake 3.16.
The error I am receiving is as follows.
"
-- Adding pkg DETECT
-- ... resides in /home/seismo/scsrc/src/extras/scdetect.
-- ... will be installed under /home/seismo/seiscomp.
CMake Error at src/extras/scdete

[2021-07-07 11:30] damb commented on #40
Note that the module still must be considered as WIP and is highly experimental.

Anyway, did you set the [CMAKE_BUILD_TYPE](https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html) when generating the project buildsystem? If set to `Debug` `scdetect` is complied with [Address Sanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) enabled. However, in case the `CMAKE_BUI

[2021-07-07 15:14] Donavin97 commented on #40
Hi there,
yes, I now set the build type to Debug, it generated the build correctly, I am almost done compiling the sources.
Will let you know what happens when the process is over.
Also, thanks for making such an awesome tool.
I am running a SeisComP system with a sparce network, as a result, I miss some events due to it not being detected on 4 or more stations.
However, I think scdetect will solv

[2021-07-07 15:41] Donavin97 commented on #40
Hi again,
The compilation works now.
However, at 98% I ran into this error:
"/home/seismo/scsrc/src/extras/scdetect/src/apps/scdetect/eventstore.cpp:54:12: error: ‘databaseArchive’ was not declared in this scope; did you mean ‘setDatabaseArchive’?
   54 |       po = databaseArchive()
      |            ^~~~~~~~~~~~~~~
      |            setDatabaseArchive
/home/seismo/scsrc/src/extras/scdetect/src

[2021-07-07 20:49] damb commented on #40
This is due to a recent change I made upstream at [SeisComP/common](https://github.com/SeisComP/common/commit/9b6c3184148720b66ae5582eca4e68d78c933308). It should work once you install [SeisComP v4.6.1](https://github.com/SeisComP/seiscomp/releases/tag/4.6.1).

[2021-07-07 20:54] damb commented on #40
Thanks. That sounds very good. If there issues, let me know.

Note also that at the time being there is no stable official release. This is mainly due to the lack of some basic features which are still missing (e.g. magnitude computation, etc.). However, we are working on this.

[2021-07-08 07:30] Donavin97 commented on #40
Hi,
Thanks, the compilation work, now just for the testing to begin.
I'm going to close this now, but I will test the module extensively, I want to see how it performs against South African earthquakes.
Thanks and regards.

[2021-07-08 07:30] #40 closed

[2021-07-08 14:05] Donavin97 opened #41 "error when trying to run scdetect on own data"
Good day,
I have successfully installed and configured scdetect.
When running the test files all works well.
However, I am using mysql as my main database, and when trying to run scdetect using my own data I get an error.

[code]

I'll attach some files for you to look at.
Attached is an archive with my miniseed event data file, event params, inventory and template files.
Also what's funny, is tha

[2021-07-09 11:19] damb commented on #41
Thanks a lot for reporting.

There seem to be a few issues with regards to the input data you provided:
- If the catalog is provided as a file it must be `SCML` formatted - not `QuakeML` (AFAIK SeisComP does not provide facilities which allow reading from `QuakeML` directly.)
- The `templates.json` is mal-formatted. It must be a JSON array of detector configurations i.e. you're missing the top-lev

[2021-07-20 19:29] #36 closed

[2021-07-29 11:51] damb commented on #34
**Roadmap** (after the discussion with @ramasuri-CH):
- The scope of `scdetect` module will be limited to:
  + generate detections and declare origins (currently detection is performed based on cross-correlation)
  + compute and declare amplitudes.

  This is similar to the approach chosen by [scautopick](https://www.seiscomp.de/doc/apps/scautopick.html).
- Both the `scdetect` origins and the `scd

[2021-07-29 12:26] luca-s commented on #34
This sounds very neat.

[2021-08-11 08:57] damb commented on #41
@Donavin97, any updates regarding this?

[2021-09-10 09:47] Donavin97 commented on #41
Hi @damb, I haven't tested your latest version yet, but will do so ASAP.
I do have a question though.
When trying to detect small events using a single stream, the earthquake location is allways in the same location as the master event, is this the way it should be?
I thought that one can use scdetect to detect seismic events with there own location propperties, independent from the master event.

[2021-09-13 08:09] damb commented on #41
Yes. This is the way it should be (at least at the time being).

[2021-09-28 14:19] damb commented on #34
With #48 `scdetect` implements amplitude calculation.

Now, thinking about the calculation of magnitudes, I'm not sure whether a dedicated module is the right approach. Currently, I rather tend to implement the *amplitude-magnitude regression* within `scdetect`:

- Both the declared origin and the calculated amplitudes are already available. No need to fetch and buffer this data within e.g. a `Dat

[2021-09-30 15:46] damb opened #50 "Template family configuration requirements"
This is a general issue, and is more for recording the requirements regarding *template family configuration*. Note that the concept of a *template family* is introduced in the context of the *amplitude-magnitude regression* (see also #34).

**Requirements**:
- Possibility to reference detector configurations from e.g. a `templates.json` configuration file. A reference to a detector configuration

[2021-09-30 15:58] damb commented on #50
@kaestli, could you please check the proposal from above? Thanks.

Note that at the time being I do not plan to take something like *template family epochs* into account. Though, this might be added in future.

[2021-10-06 11:55] damb commented on #50
Perhaps, it would be good to allow the configuration of limits (on stream config level). In case the magnitude exceeds the limits specified (after the initial regression based on the configured template family), the regression is performed based on a *global (fallback) template family*.

[2021-10-11 13:41] damb opened #52 "Allow wildcard characters when defining bindings configuration"
Allow users to define *default profiles* where both the *locationCode* and *channelCode* allow wildcard characters to be specified. The result are profiles which are valid for multiple sensor locations/streams.
- Prevent users from providing redundant configuration.

Thanks to @luca-s for pointing this out.

[2021-10-14 07:04] damb opened #53 "Explicitly store cross-correlation coefficient (CCC)"
At the time being, the actual cross-correlation coefficient (CCC) is not attached to declared origins. Though, it is encoded using the origin's *standard error* attribute as `1 - CCC`. Also, declared origins have a comment attached including a reference to the detector (i.e. by means of the detector identifier).

In order to simplify filtering queries based on the CCC it would be good to store it

[2021-11-02 15:44] mmesim opened #54 "sc3ml output file version not compatible with obspy"
The output file after running scdetect (for example results.scml) is in version 0.12.

When I try to read it with obspy

`catalog=read_events('results.scml',format="SC3ML")`

I get the following error:

`ValueError: Can't read SC3ML version 0.12, ObsPy can deal with versions [0.5, 0.6, 0.7, 0.8, 0.9, 0.10].`

What is the best solution? Make the output obspy-compatible in the code or find a work ar

[2021-11-02 16:20] damb commented on #54
`scdetect` relies on SeisComP facilities when exporting event parameters to SC3ML. I didn't dig into the details when it comes to enforcing a certain version to be written (if it is possible at all). Though, there is a possible workaround: Convert your `result.scml` to `QUAKEML` using the XSLT from https://raw.githubusercontent.com/SeisComP/common/master/libs/xml/0.12/sc3ml_0.12__quakeml_1.2.xsl.

[2021-11-03 10:16] mmesim commented on #54
Maybe it is more of an obspy issue, I don't disagree.

Note:
I followed the process you described and the converted quakeml.xml was empty.

However, I tried this

https://github.com/SeisComP/common/blob/9c6056945a0ebb8abc57ce67f7fdac57ebbf7238/libs/xml/0.12/sc3ml_0.12__quakeml_1.2-RT.xsl

and then

` xsltproc -o quakeml.xml sc3ml_0.12__quakeml_1.2.xsl result.scml`

Still I cannot read the quakeml.

[2021-11-03 13:52] damb commented on #54
Actually, this is not correct. Instead, I didn't get it right when it comes to the purpose of the actual data formats:

- QUAKEML is a data format for a fully processed complete catalog. I.e. an `Origin` not being associated to an `Event` is simply not taken into consideration. (For this reason, you receive an empty `quakeml.xml` after processing the SC3ML with the XSLT).
- QUAKEML-RT is more flex

[2021-11-03 14:38] mmesim commented on #54
Yes, it works!

Yes, I had to set **minimumDefiningPhases** to 1, as I'm working with one stream.

Thanks @damb !

[2021-11-03 14:57] #54 closed

[2021-11-10 11:13] mmesim opened #57 "Multi-stream attempt returns zero detections"
I'm not sure if I should edit something on the json file but it seems that multi-stream detection doesn't return any detections.

- Attempt 01: ACC | One network code [CH]

  - `templates.json`:
[code]

Command:

`scdetect --offline --playback --templates-json templates/templates.json  --inventory-db stations/CH.xml --event-db events/myevents.xml -I data/data.two.streams.CH.mseed --ep=results.scml

[2021-11-10 11:38] damb commented on #57
Thanks for the report.

For debugging. Could you please upload the data you used? I.e.
- inventory (`station.scml`)
- catalog (`myevents.xml`)
- waveform data

Thanks.

[2021-11-10 12:49] mmesim commented on #57
[files.zip](https://github.com/damb/scdetect/files/7512792/files.zip)

[2021-11-10 13:54] damb commented on #57
Apparently, the waveform data is not *prepared* correctly (i.e. records must be sorted by endtime). Simply prepare the data with e.g.

[code]

SeisComP's [waveform playback tutorial](https://www.seiscomp.de/doc/base/tutorials/waveformplayback.html) describes in detail how to run playbacks and how to prepare the waveform data, accordingly.

[2021-11-11 15:32] mmesim commented on #57
Thanks @damb. It works now.
Probably we should update the documentation, somewhere under this

[Waveform data and RecordStream configuration](https://github.com/damb/scdetect#waveform-data-and-recordstream-configuration)

[2021-11-12 07:38] damb opened #58 "Document playback setup"
At the time being, the README doesn't contain any documentation regarding the configuration and setup requirements of running a playback of archived waveforms. SeisComP already provides some documentation on that topic under https://www.seiscomp.de/doc/base/tutorials/waveformplayback.html.

Within #57 @mmesim suggested to add a subsection under the [Waveform data and RecordStream configuration](ht

[2021-11-12 07:38] damb commented on #58
@mmesim, feel free to provide a PR.

[2021-11-12 07:40] damb commented on #57
@mmesim, this is a good point. Thanks.

I'll close this here. With #58 I created a follow-up.

[2021-11-12 07:40] #57 closed

[2021-11-12 08:00] damb commented on #53
Note that for a multi-stream detector setup it is not the CCC which is going to be stored. The resulting CCC is an average of the involved stream related CCCs.

[2021-11-12 10:08] #53 closed

[2021-11-12 16:30] mmesim commented on #8
I just run into a similar problem. Any smart way to fix this?

[2021-11-12 17:07] damb commented on #8
Well, we would need to rotate the template waveform in order to have it aligned with the sensor to be matched. Currently, this feature is not implemented, yet.

I don't see an alternative quick and dirty solution to this.

[2021-11-12 17:18] mmesim commented on #8
We might need to rotate the data as well. For example in my case that I load a mseed file that contains the 3 channels i.e RAW2.HH[Z,E,N] we should do
1. Sort the mseed file to be seiscomp-friendly
2. Rotate the waveforms.

I don't know if this is required for real time application.

Another thing to keep in mind is the rotation itself. Again, I do not know how the data are rotated in the seiscomp

[2021-11-12 17:44] damb commented on #8
Of course, at the time being you could rotate the data to be matched such that the orientation of the data to be matched agrees with the orientation of the sensor the template was extracted from. Though, this approach is applicable for *playback* processing, only.

For real-time processing it is definitely computationally cheaper to rotate the template waveform data, only.  (Actually, I don't see

[2021-11-15 15:50] luca-s commented on #8
@mmesim Let's say you have a S phase picked on the T component  (which you cannot use in `scdetect`). Why don't you create a template at the S time that matches the 3 components Z,E,N instead?  The T component is a projection of the 3 other components anyway, so the cross-correlation on the 3 should perform very similarly.

[2021-11-16 12:00] #41 closed

[2021-11-16 14:56] mmesim commented on #8
I think we should clarify a few things.
First, of all is fundamentally wrong to correlate an N or E channel with the R or T.

@damb

I think there is a misunderstanding here. You cannot correlate a rotated template with one of the horizontals [N or E]. If I understand correctly, you suggest to rotate the template so the sensor will be H?R,  but the waveform H?N ? That  means that the template chan

[2021-11-16 15:24] damb commented on #8
Therefore, I asked you to give an example ;). When opening the issue, I didn't have an ZNE -> ZRT projection in mind. Rather a rotation in order to align the sensor orientation recording the template waveform with the sensor orientation recording the data to be matched.

Of course, the orientation of the template waveform and the data to be matched must agree.

(ii) is already implemented. It is o

[2021-11-17 17:03] mmesim commented on #8
I'm very happy that we clarified it @damb.

To conclude, it was a misunderstanding on my end but it is very clear to me now that you are using the pick times and do not associate the channels.

A last comment, I do not think that the rotation is needed.  My concern was that if we rotate to a preliminary epicenter while picking, then that location might differ for the final NLL solution. In that ca

[2021-11-17 18:05] mmesim opened #62 "Multi-channel detections"
[14.test.zip](https://github.com/damb/scdetect/files/7556876/14.test.zip)

The zip file includes the the files I used to run #14.test. The test uses one earthquake as template and the S-phase on the two horizontal components of the same station. It returns 6 detections. However, when the `scdetect` is applied on each channel separately I get 122, for the HHE, and 90 for the HHN. To my understandin

[2021-11-18 08:58] damb commented on #8
That's a good point. I agree with that.

I'll close this issue for now. Please, reopen if required.

[2021-11-18 08:58] #8 closed

[2021-11-18 09:04] damb commented on #62
Thanks for the report, @mmesim.

I'll have a look into this.

Note that due to filtering small *delays* might have been introduced such that the original pick offsets might have slightly changed. However, this is just a guess which of course needs to be verified.

[2021-11-22 16:13] mmesim commented on #62
Update: I re-ran the **14.test** by adding `"arrivalOffsetThreshold": 1`. I assume that '1' is one second. I was able to get more detections (19), however the detection scheme failed to detect the template. This is very strange.

[2021-11-29 13:34] damb commented on #62
That's correct. From the `README`:

[2021-12-06 09:57] mmesim opened #66 "Multi-station detection"
This issue is similar to [#62](https://github.com/damb/scdetect/issues/62).

Here I attempted to run a multi-station detection. Same problems as in multi-channel detection. Results do not match the detections performed on single station.

[18.test.zip](https://github.com/damb/scdetect/files/7659775/18.test.zip)

[2021-12-06 17:19] damb commented on #66
Thanks, @mmesim. I'll have a look into it and come back.

[2021-12-06 17:30] damb commented on #50
Since for most of the events `"Mw"` magnitudes are not available, template families with magnitude type `"Mwx"` won't be implemented. Thus, `"MLx"` template families will be implemented, only.

For `"MLx"` based template families:
- both magnitudes of type `"MLhc"` and `"MLh"` are taken into account (`"MLhc"` magnitudes are preferred over `"MLh"` magnitudes)
- magnitudes of type `"MLv"` won't be t

[2021-12-10 13:01] #34 closed

[2021-12-10 13:01] #50 closed

[2021-12-13 15:06] mmesim opened #68 "Amplitude-Magnitude regression attept"
This might not be an issue but I definitely need some help, despite the very detailed documentation.

I run the following command

`scdetect --offline --playback --templates-json templates/templates.json  --inventory-db stations/stations.scml --event-db events/myevents.xml -I data/data.sorted.two.streams.mseed --ep=results.scml --amplitudes-force=0 --templates-family-json templates/templateFamilyC

[2021-12-13 17:07] damb commented on #68
You need to specify where to obtain the bindings configuration from:
- Make sure, you assigned the bindings to the corresponding station(s) (e.g. `8D.RAW2`). (Key files may be generated easily with [`scconfig`](https://www.seiscomp.de/doc/apps/scconfig.html).)
- With `seiscomp update-config` you store the bindings configuration within your SeisComP DB (e.g. PostgreSQL, etc.). With `--offline` you

[2021-12-13 17:08] damb commented on #68
Anyway, `Seiscomp::detect::builder::NoBindings` should be handled properly. I'm going to fix this.

[2021-12-14 09:33] damb commented on #68
Fixed with #69.

[2021-12-14 09:59] mmesim commented on #68
Now there is a warning

but `scdetect` continues to run without calculating magnitudes. Still trying to figure out why it doesn't find the bindings even though I added

`--config-db bindings/config.scml`

where I get `config.scml` from

`--config-db bindings/config.scml`

[2021-12-14 10:04] damb commented on #68
There it is. Make sure, you correctly assigned the bindings to the station.

[2021-12-14 10:05] mmesim commented on #68
`bindings2cfg --key-dir ./etc/key -o config.scml`

I was giving the wrong path to the **etc/key**. In my case should be $HOME/seiscomp/etc/key.

Could you update this in the documentation?

[2021-12-14 10:28] damb commented on #68
Done with 5b1e8ab13719945aae16de3a70570a8051f36b59.

Note that this particular example I've taken from the [bindings2cfg documentation](https://www.seiscomp.de/doc/apps/bindings2cfg.html) straight away. Also, the documentation is explicitly referring to the [bindings2cfg documentation](https://www.seiscomp.de/doc/apps/bindings2cfg.html)  for further information and details.

[2021-12-14 10:31] mmesim commented on #68
Note that this particular example I've taken from the bindings2cfg documentation straight away. Also, the documentation is explicitly referring to the bindings2cfg documentation for further information and details.

Thanks

[2021-12-14 10:35] mmesim commented on #68
So, it seems that I did a few things wrong. First, the bindings file, which after using the right path it works fine.

It also seems that I was trying to compute magnitudes on the vertical component (HHZ) which is not feasible with this method.

Now I'm trying to use the two horizontals from the RAW2 station.

I get this warning

and my `templateFamilyConfiguration.json` looks like

  {
    "id":

[2021-12-14 10:47] mmesim commented on #68
Also this might be helpful

[code]

[2021-12-14 10:51] damb commented on #68
Independently, how the detector is configured, `scdetect` will try compute the amplitudes for the horizontal components regarding a sensor location. This requires that
- bindings configuration for the horizontal components must be available
- inventory data (i.e. sensor response related data) for the horizontal components must be available
- and of course waveform data must be available, too.

[2021-12-14 10:55] damb commented on #68
@mmesim, it's difficult to guess, what's going wrong, here. Could you please share your data

- `inventory.scml`
- `catalog.scml` (including station magnitudes)
- `config.scml` (bindings configuration)
- `templates.json`
- `templates-family.json`
- `data.mseed` (waveform data including the waveform data both required for detection and required for amplitude calculation)

[2021-12-14 10:59] mmesim commented on #68
Sure. Here it is.

[20.test.zip](https://github.com/damb/scdetect/files/7711023/20.test.zip)

[2021-12-14 12:01] damb commented on #68
@mmesim, the `catalog.scml` you provided does not include station magnitudes for the corresponding events. This is the reason, why template family registration failed and the message

is logged.

[2021-12-14 12:03] damb commented on #68
Apparently, this seems to be an unrelated issue. I'll have a closer look into it and come back.

[2021-12-14 12:19] damb opened #70 "Alternative magnitude implementation: amplitude ratio between template and detected event"
### Discussed in https://github.com/damb/scdetect/discussions/55

<div type='discussions-op-text'>

<sup>Originally posted by **mmesim** November  4, 2021</sup>
Ideas for magnitude calculation based on what is already available and used in the literature (etc).
- **Amplitude ratio between template and detected event**
e.g  https://www.nature.com/articles/ngeo697

[...]</div>

**Details**:
- use th

[2021-12-14 12:31] mmesim commented on #68
I see. I'll ask for access to DB to extract that info. For now I cannot do much.

Thanks a lot.

We can leave the issue open until I run successfully a test and get magnitudes. Do you agree?

[2021-12-14 12:43] damb opened #71 "Handle streams with equal arrival offsets"
Streams referring to the same arrival (regarding a sensor location) have the same travel time and thus a *pick offset* of zero. This case is not handled correctly when returning pick offsets.

Currently, a message similar to the following one is logged, which is quite misleading:

[code]

[2021-12-14 12:44] damb commented on #68
Ok. I've got it. See #71. Thanks for the report @mmesim.

[2021-12-14 12:45] damb commented on #68
Fine for me.

[2021-12-14 15:22] damb commented on #71
Note that solving this issue should fix #62, as well.

[2021-12-21 08:35] #58 closed

[2021-12-21 15:08] damb commented on #62
Ok, I had a look into it. Based on the data and configuration from above and the changes implemented by #72, I get the following results:

| Configuration | `"arrivalOffsetThreshold"` | # detections |
| ---      | ---      | ---     |
| single stream: `HHN`, only | - | 113 |
| single stream: `HHE`, only | - | 172 |
|||
| multi stream: `HHN` and `HHE` | `default` | 32 |
| multi stream: `HHN` and `H

[2021-12-21 15:51] mmesim commented on #62
It seems that works fine now! I'll test it after the holidays and take a closer look at the detections missed/ or possible false detections. Then, if everything works fine, we can close the issue. I'll also test the multistation detection [(#66)](https://github.com/damb/scdetect/issues/66).

Thanks @damb!

[2021-12-21 19:58] damb commented on #62
I'm going to merge #72. Let's keep this open until you've performed the final checks.

[2021-12-21 20:08] damb commented on #66
Note that the behaviour from #62 was caused by a bug in the implementation which should be fixed with #72, now. Therefore, when performing your checks, again, please make also make use of the `"arrivalOffsetThreshold"` detector configuration option. This is particularly relevant for a multi-station setup.

[2021-12-21 20:08] #71 closed

[2022-01-05 13:01] damb commented on #70
Both the amplitude and magnitude are going to be named `MRelative`.

[2022-01-12 07:16] damb commented on #70
@mmesim, for clarification: if a detector configuration includes a vertical instrument component, `MRelative` is going to be computed under consideration of that vertical component, too. Though, in any case the *reference* station magnitudes are `MLhc`/`MLh`. Do you agree with this?

[2022-01-12 09:38] mmesim commented on #70
Yes.

[2022-01-12 11:59] damb commented on #19
Besides, the suggested approach would speed up debugging in case of errors.

[2022-01-13 15:02] damb opened #75 "Implement `MLx` integration tests"
Cover both the `MLx` amplitude and the `MLx` magnitude implementation via a basic set of integration tests.

Coverage must at least include:
- Single detector, single stream
- Single detector, multi stream (referring to a single sensor location)
- Single detector, multi stream (multiple sensor locations)

Note that this task requires #74 to be merged.

[2022-01-13 16:47] #70 closed

[2022-01-14 15:10] #52 closed

[2022-01-20 13:50] damb opened #80 "Detect application overload and log a warning"
This issue supersedes #4. This is due to the fact that at the *level of a detector* no buffering is involved, anymore. Therefore, notification queue *monitoring* is performed at application level, only.

Thanks to @luca-s for having the discussion.

[2022-01-20 13:50] damb commented on #4
Outdated. See #80.

[2022-01-20 13:50] #4 closed

[2022-01-20 14:21] damb commented on #80
Note that [`scm`](https://www.seiscomp.de/doc/apps/scm.html) is kind of related.

[2022-01-21 11:51] damb opened #81 "Allow ringbuffer size to be configurable"
The ringbuffer size used for waveform buffering is fixed at the time being. Allow it to be configurable.

Thanks to @luca-s for the hint.

[2022-01-21 11:54] damb commented on #81
See also https://www.seiscomp.de/doc/apps/scautopick.html#confval-ringBufferSize.

[2022-01-21 15:50] luca-s commented on #81
That is an useful option, however scautopick  `ringBufferSize` doesn't properly document what is useful for (one needs to look in the source code to understand that) and it doesn't explain the implication of selecting a certain value. I wish scautopick could figure it out by itself what is the optimal  `ringBufferSize` size, or, if that is not possible, provided some sensible guidelines on how to

[2022-01-21 22:15] damb commented on #80
Hmm. Monitoring the queue size won't work out. The implementation of [`Client::ThreadedQueue`](https://github.com/SeisComP/common/blob/2123b1c71de9ba44d222b69dd6e9348b7df8c86a/libs/seiscomp/client/queue.h#L42) used by `Client::Application` has a fixed size of 10 (see https://github.com/SeisComP/common/blob/2123b1c71de9ba44d222b69dd6e9348b7df8c86a/libs/seiscomp/client/application.cpp#L817).

[2022-02-04 13:58] mmesim commented on #62
@daniel What dataset did you use for this https://github.com/damb/scdetect/issues/62#issuecomment-998854827 ?

[2022-02-04 14:06] damb commented on #62
The one you provided when opening the issue.

[2022-02-04 14:15] mmesim commented on #62
Well,  I have an update.

Test-12 : HHE | Ndetections : 122 | cat12.txt [catalog with origin times & CC]

[code]

Test-13 : HHN | Ndetections : 90 | cat13.txt [catalog with origin times & CC]

[code]

Test-17b : HHN & HHE | Ndetections : 57 | results.txt [catalog with origin times & CC]
[cat12.txt](https://github.com/damb/scdetect/files/8003616/cat12.txt)
[cat13.txt](https://github.com/damb/scdete

[2022-02-04 14:25] damb commented on #62
Thanks for your feedback.

Currently, it is difficult to make any assumptions. I need to have a closer look into it. I'll let you know once I know more.

[2022-02-04 14:42] mmesim commented on #62
I have another update. The numbers in https://github.com/damb/scdetect/issues/62#issuecomment-1030027759 are not correct but the problem is still the same. I'll write a new comment in a few minutes.

[2022-02-04 14:47] mmesim commented on #62
Test-12 : HHE | Ndetections : **172** | cat12.txt [catalog with origin times & CC] [json the same as before]
[cat12.txt](https://github.com/damb/scdetect/files/8003899/cat12.txt)

Test-13 : HHN | Ndetections : **113** | cat13.txt [catalog with origin times & CC] [json the same as before]
[cat13.txt](https://github.com/damb/scdetect/files/8003900/cat13.txt)

Common events on both catalog (somehow e

[2022-02-04 15:03] damb commented on #62
@mmesim, so your *single stream* results agree with my results from https://github.com/damb/scdetect/issues/62#issuecomment-998854827, right? (at least regarding the number of detections).

The multi-stream detection is different, though. As I said already, this requires further investigation.

[2022-02-04 15:41] mmesim commented on #62
Yes. They agree. I re-ran everything to be sure.

[2022-02-04 16:00] mmesim commented on #66
I found the same problem as in #62. In more detail:

Test-04 : RAW2.HHZ | Ndetections : **88** | 04.txt [catalog with origin times & CC]
[04.test.txt](https://github.com/damb/scdetect/files/8004351/04.test.txt)

[code]
Test-09 : SENIN.HHZ | Ndetections : **34** | 09.txt [catalog with origin times & CC]
[09.test.txt](https://github.com/damb/scdetect/files/8004372/09.test.txt)

[code]

Test-18 : RAW

[2022-02-04 16:13] damb commented on #66
@mmesim, just for clarification. Did you have already a closer look into the code? Did you debug the issue with a debugger, already?

[2022-02-04 16:14] mmesim commented on #66
No. No.

[2022-02-04 22:07] #81 closed

[2022-02-07 10:25] damb commented on #62
@mmesim, how do you determine the *expected results*? Do you use a threshold (if yes, how large)?

When computing the strictly origin time base intersection of the single stream results, I obtain **34** events (recall, that you received **81** common events):

[code]

[code]

[2022-02-07 10:33] damb commented on #62
When performing the test on both streams (i.e. `HHN` and `HHE`) the `"arrivalOffsetThreshold"` was set to `1` (second). This is comparably large, since the goal is to associate *arrivals* on a single sensor location. Instead, I would rather set the value to a few samples offset (given the data is sampled with `200Hz`). Are you aware of this issue?

[2022-02-07 11:07] damb commented on #62
Besides, I observed that the number of results mostly depends on the value set for the `"triggerDuration"` configuration parameter.

The implementation is rather clumsy: https://github.com/damb/scdetect/blob/52d2d780806a0b122fc08a3f6baf474a0f50804f/src/apps/cc/detector/detector.cpp#L315-L318

In order to make it independent from whether the data is processed in *real-time*-mode or whether in *offl

[2022-02-07 12:36] mmesim commented on #62
To determine the "expected results" I compare the origin times of the two catalogs. I don't use a threshold, instead I compare origin times  to one decimal place for msec, e.g. 2019-11-05T04:01:11.8. I use `intersection` command in python to compare the two lists.

[2022-02-07 12:38] mmesim commented on #62
Yes, I'm aware. It might be too large, however the problem is not anymore the number of detections. The number of detections has been improved after you fixed #71. The problem now is that the origin times, after joint detection, do not make any sense.

[2022-02-07 12:47] damb commented on #62
You mean https://docs.python.org/3/library/stdtypes.html#frozenset.intersection?

[2022-02-07 13:00] mmesim commented on #62
Yes

[2022-02-08 13:54] damb commented on #62
Ok, here an update (tests were performed based on #85):

| Configuration | `"arrivalOffsetThreshold"` | # detections |
| ---      | ---      | ---     |
| single stream: `HHN`, only | - | 226 |
| single stream: `HHE`, only | - | 350 |
|||
| multi stream: `HHN` and `HHE` | `default` | 62 |
| multi stream: `HHN` and `HHE` | `0.0049` (slightly less than a sample) | 62 |
| multi stream: `HHN` and `HHE

[2022-02-09 11:53] mmesim commented on #62
I confirm the number of detections. "Expected" results and results from multi-channel detections agree! It works!!!

Also, I checked the detections by plotting the waveforms. Everything is fine.

I'm in the process of checking #66.

[2022-02-09 14:22] #62 closed

[2022-02-09 14:26] mmesim commented on #66
I tested again the detections on the two stations.

Test-04 : RAW2.HHZ | Ndetections : 173 (originally it detected 88)
Test-09 : SENIN.HHZ | Ndetections : 66 detections (originally it detected 34)

Test-18 : RAW2.HHZ & SENIN.HHZ | Ndetections : 56 [all true detections, waveforms checked]

The results agree with the common detections performed on single stations.

@damb Well done!

[2022-02-09 15:08] mmesim opened #86 "Tests for multi-stream detections"
Provide tests for multi-stream [multi-station/ multi-channel] detections. Ideally, data similar to #62 and #66.

[2022-02-15 08:01] damb commented on #86
I assume you're using the same template waveform data as in #62, or rather #66, respectively. I'm asking since the data provided does not include the waveform data chunks required for template waveform creation.

[2022-02-15 08:18] damb commented on #86
Which of the detections do you get?

[2022-02-15 08:54] mmesim commented on #86
Yes. Sorry I forgot to add the templates to the mseed files :pensive:

[2022-02-15 09:38] damb commented on #86
Regarding the multi channel test I obtain the detections:
[code]

Due to the `"initTime"` of `10 s` it is clear why we do not obtain the very first detection (i.e. as documented the detector is blind during the initialization time).

Though, it is interesting, why `scdetect-cc` does not emerge the very last detection:
[code]

It is detected if adding 5 s more data (i.e. `"http://arclink.ethz.ch/fd

[2022-02-15 09:44] mmesim commented on #86
OK. I couldn't detect these earthquakes because I think I was in the wrong branch. I changed VMs, working at the office now, and seems something broke or whatever. I'm fixing it and I'll update here. Seems that I was the problem.

[2022-02-15 10:23] mmesim commented on #86
Well, to wrap up.

- I was in the wrong branch! :open_mouth:
- I re-compiled everything and I confirm that I get 3 detections from the first test https://github.com/damb/scdetect/issues/86#issuecomment-1039339099 .
Missing the first and last detection can be an issue but we can check that again later on the online implementation. Maybe wait a few seconds before run detections, or something like th

[2022-02-15 10:37] damb commented on #86
As already mentioned, missing the first detection is due to the configuration you provided. The situation is completely different if the *last* detection is not detected. I assume, in this case there is still somewhere a bug.

I confirm the results for https://github.com/damb/scdetect/issues/86#issuecomment-1039353035. Again, it is the last detection which is not detected.

Well, the bug needs to

[2022-02-15 10:38] mmesim commented on #86
Great!

[2022-02-15 10:43] damb opened #87 "Not detecting the last detection"
With #86 it turned out that the very last detection was not detected (see https://github.com/damb/scdetect/issues/86#issuecomment-1040057360 and https://github.com/damb/scdetect/issues/86#issuecomment-1039353035). This requires further investigation.

Also, when fixing, add the tests provided with #86 to the suite.

Thanks @mmesim for looking into this.

Closes #86.

[2022-02-15 10:44] damb commented on #86
Superseded by #87.

[2022-02-15 10:44] #86 closed

[2022-02-15 14:29] damb commented on #68
`scdetect-cc` computes so called *StationMagnitudes* (i.e. actually *SensorLocationMagnitudes*). In the [SeisComP datamodel](https://www.seiscomp.de/doc/base/api-python.html#) StationMagnitudes are child objects of an *Origin*.

[2022-02-15 14:52] mmesim commented on #68
Ok, thanks for this. I still do not get magnitudes.

[code]
- First I didn't update the template configuration. Now it contains
[code]
- The `template.scml`  contains StationMagnitudes. I extract the file from the db. Also I checked  that the detections are ok with this file.
- So perhaps the problem is with the bindings? I do not know. Are global bindings required or only the `scdetect` ones?

[2022-02-15 15:02] damb commented on #68
Does the `template.scml` contain amplitudes?

From the docs:

[2022-02-15 15:06] damb commented on #68
Besides:
- Does your catalog contain StationMagnitudes of type `MLh|MLhc`?
- Does your inventory contain the metadata for the horizontal instrument components? Recall, that the regression is based on the horizontal components, only.

[2022-02-15 15:07] mmesim commented on #68
Just fixed that.

[2022-02-15 15:08] mmesim commented on #68
-MLh

-Yes

[2022-02-15 15:17] mmesim commented on #68
I think the problem is the sh*ity  templateFamilyConfiguration.json

[2022-02-15 15:29] mmesim commented on #68
I updated the json file but still cannot get magnitudes.

[code]

[2022-02-15 15:44] damb commented on #68
Well, the formatting of the `templates-family.json` is simply not correct. Again, from the docs:

Also, it should be sufficient to reference a stream referring to a sensor location just once.

[2022-02-15 15:45] damb commented on #68
@mmesim, recall that the binary was renamed to `scdetect-cc`. However, `8D.RAW2` has the deprecated `scdetect` bindings assigned.

[2022-02-15 15:47] mmesim commented on #68
Ok, that's dump @damp!!! I should have noticed that.

[2022-02-15 16:21] damb commented on #68
Improvements are always welcome, @mmesim. Go ahead!

Note also, that the configuration by means of the JSON configuration file is kind of a *temporary solution*. In future, the configuration might be loaded from e.g. a database, alternatively.

[2022-02-15 16:25] mmesim commented on #68
Do you think it will work with one template?

[2022-02-15 16:27] damb commented on #68
Of course. Though, the more samples there are the better the regression.

[2022-02-15 16:31] mmesim commented on #68
Does this seem right?

[code]

[2022-02-15 16:48] damb commented on #68
The `templates-family.json` looks better now.

This should happen :bug:. In order to debug, I need your configuration. Alternatively, you execute `scdetect-cc` under `gdb` and post the stacktrace ...

[2022-02-15 16:50] mmesim commented on #68
[code]

[2022-02-15 17:04] damb commented on #68
@mmesim, within a template family configuration there is no need to reference the origin (i.e. `"smi:ch.ethz.sed/sc3a/origin/NLL.20191105125505.255283.1897990"`) twice. It is already resolved by means of the first member (i.e. referenced by means of `"detectorId": "detector-01"`). Therefore, your `templates-family.json` should look like:

[code]
Also, it is enough to reference a sensor location ju

[2022-02-15 17:49] mmesim opened #88 "MRelative: Provide tests"
to be updated

[2022-02-16 06:59] damb opened #89 "Assertion failed (testing `MLx`)"
While @mmesim was initially testing the `MLx` amplitude/magnitude implementation one of the assertions failed (see https://github.com/damb/scdetect/issues/68#issuecomment-1040508304): https://github.com/damb/scdetect/blob/6ce42b33d32c84f8abb30566e74d12e1f6e26549/src/apps/cc/processing/detail/gap_interpolate.cpp#L31

Tests were run with the test data attached: [test.mlx.zip](https://github.com/damb

[2022-02-16 08:16] #89 closed

[2022-02-16 08:17] damb commented on #89
CC @mmesim

[2022-02-16 08:28] mmesim commented on #68
Good morning! #90 fixed the problem! We have magnitudes!! :raised_hands: :tada:

[2022-02-16 08:48] damb commented on #68
Good morning!

@mmesim, a few notes from my side:
- With #84 the waveform buffer size is configurable. If buffering waveform data is disabled (or rather the waveform buffer size is too small), no amplitudes (and thus no magnitudes) will be computed.
- Besides, I noted that the `MLx` amplitude values are pretty low. Maybe, you can look into this issue?
- After all these efforts here it would be goo

[2022-02-16 09:20] mmesim commented on #68
This is the next step. I wanted to make sure it works and then we will check the results in detail! Keep in mind that the earthquake I use for detection is already small and it is normal to detect smaller events. If these events were larger they would have been detected in the routine analysis. This doesn't change the fact that we should look at the results very carefully!

This is a great suggest

[2022-02-16 09:36] damb commented on #68
:+1:

[2022-02-16 10:08] damb commented on #68
The formatting looks good. Though, I didn't run `scdetect-cc` with config since I didn't prepare a catalog (i.e. the `event.scml`) including the third-party origins. Also, I'd need the `templates.json` in order to check the if the `templates-family.json` is aligned.

The `"references"` JSON array includes references to either detector configurations (i.e. the relation is established by means of th

[2022-02-16 10:14] damb commented on #68
:+1:

[2022-02-16 11:54] damb commented on #75
@mmesim, would you like to implement these tests? You can follow the approach for the `MRelative` tests.

- `MRelative` data is provided under https://github.com/damb/scdetect/tree/master/src/apps/cc/test/data/integration/magnitude/MRelative
- Integration tests must be included to the sample `dataset` struct, here:
https://github.com/damb/scdetect/blob/109eddc45383486cfde2cb348072e2cdd8f2a542/src/

[2022-02-16 12:04] mmesim commented on #88
Ok then.. I'll not do anything.

[2022-02-16 12:04] #88 closed

[2022-02-16 12:08] mmesim commented on #75
I will post the files here.

I was trying to do

and got this warning and no amplitudes

[code]

What is this now??  :roll_eyes: :eyes: :eyes: :eyes:
[02.MLx.singleTemplate.singleStream.zip](https://github.com/damb/scdetect/files/8079740/02.MLx.singleTemplate.singleStream.zip)

Also expected 2 detections but returned 1.

[code]

Perhaps this is similar to #87 ?

[2022-02-16 12:18] damb commented on #75
Yes. Most probably.

[2022-02-16 12:25] damb commented on #75
Recall, `MLx` requires both horizontal components to be available. Though, waveform data for `8D.RAW2..HHN` is provided, only.

[2022-02-16 12:34] mmesim commented on #75
Same error even though I have both channels in the mseed
[02.MLx.singleTemplate.singleStream.zip](https://github.com/damb/scdetect/files/8079863/02.MLx.singleTemplate.singleStream.zip).

[2022-02-16 12:39] damb commented on #75
Do you provide the template waveform data (horizontal components) regarding the sensor location `8D.RAW2..HH` for the origin with the id `smi:ch.ethz.sed/sc3a/origin/NLL.20191105125505.255283.1897990`? I assume no.

[2022-02-16 12:40] mmesim commented on #75
Nope. Sorry I let `scdetect-cc` create the template.

[2022-02-16 15:46] mmesim commented on #75
@damb Question,
Does https://github.com/damb/scdetect/issues/75#issuecomment-1041446869 this work for you if you include the template? I tried to do

  --templates-json path/to/templates.json \
  --inventory-db file:///absolute/path/to/inventory.scml \
  --event-db file:///absolute/path/to/catalog.scml \
  --record-url fdsnws://eida-federator.ethz.ch/fdsnws/dataselect/1/query \
  --offline \
  --t

[2022-02-16 16:03] damb commented on #75
AFAIK data for `8D.RAW2.*.*` is not publicly available:

[code]

If you'd like to use `fdsnws-dataselect` you're forced to use `arclink.ethz.ch` from within the ETH network.

[2022-02-16 16:17] mmesim commented on #75
:heart:

[2022-02-16 16:33] mmesim commented on #75
Ok, two things.

(1) I still do not get amplitudes even though I downloaded the templates. I confirm that the templates are real, plotted the waveforms.

(2) It seems that

is fixed. I get 3 detections. I don't know if this was related to he template being a ghost!

[2022-02-16 17:04] damb commented on #75
I'll look into this tomorrow.

[2022-02-16 17:14] damb commented on #75
Ok. I've got it already: it is the filter configuration of the `MLx` amplitude processor. You configured 60s (i.e. this is the default). This means for the detection the required amplitude processor time window is:
- starttime: `2019-11-05T03:59:39.565001Z`
- endtime: `2019-11-05T04:00:42.070001Z`

However, the data chunk you provided does not include the data.

If you check the logs you should ge

[2022-02-17 09:39] mmesim commented on #75
@damb Thanks!! It works. You can use that example for the testing suite.

Question: Is it ok if I upload two more examples?

[2022-02-17 09:44] damb commented on #75
Of course.

[2022-02-17 10:24] mmesim commented on #75
[02.MLx.singleTemplate.singleStream.zip](https://github.com/damb/scdetect/files/8087778/02.MLx.singleTemplate.singleStream.zip)

[03.MLx.singleTemplate.multiStream.zip](https://github.com/damb/scdetect/files/8087780/03.MLx.singleTemplate.multiStream.zip)

Event though I get amplitudes I do not get magnitudes.

[2022-02-17 11:25] mmesim commented on #75
[02.MLx.singleTemplate.singleStream.zip](https://github.com/damb/scdetect/files/8088197/02.MLx.singleTemplate.singleStream.zip)

[03.MLx.singleTemplate.multiStream.zip](https://github.com/damb/scdetect/files/8088198/03.MLx.singleTemplate.multiStream.zip)

[04.MLx.singleTemplate.multiStream.Loc.zip](https://github.com/damb/scdetect/files/8088199/04.MLx.singleTemplate.multiStream.Loc.zip)

These are

[2022-02-17 11:34] damb commented on #75
@mmesim, make sure you read the logs. Apparently, something went wrong during the template family initialization.

[2022-02-17 11:39] damb commented on #75
Ok, with #92 you should see that template initialization failed due to missing waveform data.

[2022-02-17 11:48] damb commented on #75
@mmesim, an additional note regarding the test configurations. Please make sure that the configurations contain only the data required; not more.

This implies:
- waveform data
- inventory metadata
- template event data
- bindings configuration data

This is because:
- the tests may serve as examples i.e. unnecessary data makes it more difficult to understand
- we do not want to pollute the repo.

[2022-02-17 12:10] mmesim commented on #75
Yes, I saw the message.

I do not understand why.

[2022-02-17 12:11] mmesim commented on #75
Could you please do the cleaning? I'll cook!

[2022-02-17 12:48] damb commented on #75
Recall, that once you configure the template families with third-party origins the waveform data needs to be available in order to create the regression sample. This is not the case, though.

[2022-02-17 13:22] mmesim commented on #75
Oh, I thought it will get the amplitudes from the template.scml . :confused:

[2022-02-17 13:30] damb commented on #75
Nope. Instead, It computes a `MLx` amplitude regression sample. This way, it is guaranteed that all regression samples are computed the same way. We shouldn't rely on the catalog.

[2022-02-17 17:19] mmesim commented on #75
I don't think so.

[2022-02-23 11:13] mmesim opened #93 "Magnitudes with nan"
Sometimes magnitudes cannot be calculated and the scml file looks like

[code]

When I convert the scml to xml (obspy friendly version) I receive
[code]

Perhaps that will cause problems in the future? I'm not sure about that, just a thought. One suggestion would be to add a crazy value like -99.99 for the magnitudes that cannot be calculated. I don't suggest -9 because if  `scdetecct-cc` is going

[2022-02-23 11:22] damb commented on #93
@mmesim, thanks for spotting the issue.

Instead of adding a value like `-99.99`, I'm in favor of not adding a station magnitude at all. What do you think?

[2022-02-23 11:22] damb commented on #93
Also, could you provide your configuration in order to reproduce the issue. Thanks.

[2022-02-23 11:24] mmesim commented on #93
It is a good idea if it works in the end.

[2022-02-23 11:33] mmesim commented on #93
of course.
[19.test.zip](https://github.com/damb/scdetect/files/8123920/19.test.zip)

[2022-02-23 11:43] damb commented on #93
Thanks @mmesim. I need to look into it and will come back.

[2022-02-25 10:52] #93 closed

[2022-02-26 16:39] damb commented on #87
References #85.

[2022-03-09 13:44] mmesim opened #97 "Amplitude calculation crushes"
Well,
I was trying to run `scdetect-cc` as :

- 10 detectors
- 30 templates
- 1 station
- 3 channels

When running the same dataset without requiring magnitude calculation, I was able to get results, i.e 3330 origins -> 1109 unique events.

With the magnitude on

[code]

I saw this error many times

[code]
At some point it crushed

[code]

Any clue? Is the VM or the code?

[2022-03-09 14:10] damb commented on #97
Thanks for the report.

What's the configured `waveformBufferSize`? Is there data for the required waveform stream identifier (i.e. `8D.RAW2..HHN`) and time window available?

[2022-03-09 14:15] damb commented on #97
There is a memory issue during the application clean-up. Could you provide data including the configuration in order to reproduce the issue? Thanks.

[2022-03-09 14:20] mmesim commented on #97
I didn't set any attribute `waveformBufferSize`, so I guess is the default (?).

[2022-03-10 09:56] mmesim commented on #97
I just found it in `scconfig` :open_mouth:

It was 300 seconds. I think a value of 60 seconds would be ok, right?

[2022-03-10 10:04] mmesim opened #98 "Memory issue"
I got this error message while executing another example.

This time the amplitude and magnitude calculations were off.

Specs:

24 hours of data
8 detectors
24 templates
1 station
3 channels

[code]

[2022-03-10 10:14] damb commented on #97
`scautopick`'s default is 300 s (see https://docs.gempa.de/seiscomp/current/apps/scautopick.html#confval-ringBufferSize). For the config you run this shouldn't be an issue (though, less is better in order to reduce `scdetect-cc`'s memory footprint). Note that the required data for amplitude calculation is still must be buffered. Else amplitude calculation (and therefore magnitude calculation, too)

[2022-03-10 10:17] damb commented on #98
Thanks for the report, @mmesim.

Apparently, there is a bug when interpolating gaps. Do you have the data/config in order to reproduce the issue? Thanks.

[2022-03-10 11:08] damb commented on #98
Thanks for the data. I can reproduce the bug. I'll come back once it is fixed.

[2022-03-14 10:04] #98 closed

[2022-03-14 15:29] damb commented on #97
@mmesim, I had a closer look into the issue.

First of all, the memory issue should be fixed with #100.

Besides, I had a look into the issue causing the error log entry

[code]

In order to understand what's going on behind the scenes it is important to remind that data required for amplitude calculation must be still buffered. Though, **if trigger facilities are enabled** the current detection i

[2022-03-14 16:41] #97 closed

[2022-03-21 09:30] mmesim opened #101 "minimumArrivals"
@damb Well, I shared with you the files. Here I'll report the problem. I run the shared example and set `minimumArrivals`: 10. However, when I run `scevent` with the results.scml I received the following message multiple times

[code]
or
[code]

That probably means that there are not 10 picks available, which seems weird.

I still do not if it `scdetect-cc` or `scevent` problem.

I didn't include

[2022-03-21 10:46] damb commented on #101
@mmesim, thanks for reporting.

Without having checked the reproducer's configuration yet, I guess that this might be an issue when trying to avoid to associate a single phase to be associated multiple times with a sensor location. This is required in certain configuration scenarios, e.g. given the following detector configuration:

[code]
I.e. in the example above, in order to avoid to associate

[2022-03-21 11:13] mmesim commented on #101
What I do not understand is why I didn't face this problem with the other testing datasets.

If what you mention above is the case, then it should have happened before. Still thinking about it...

[2022-03-21 14:18] damb commented on #101
- You mean, while using the `"minimumArrivals"` configration parameter, as well?
- Did you check `scevent` logs previously, too?

[2022-03-21 14:27] mmesim commented on #101
Yes.

Yes

[2022-03-22 11:24] mmesim commented on #101
I just realized that there was a typo. Instead of writing `ELM0` I wrote `EML0`. :face_exhaling:

Also, I do not know why `STLM2.HG?` is not in the inventory. Perhaps I did not include acc? I don't remember.

To conclude, in the case that `scdetect-cc` will not be able to identify  10 phases, what will it do and how is this trackable/manageable in real time application?

[2022-03-22 11:32] damb commented on #101
Warnings are already issued. Though, in case the `"minimumArrivals"` is configured `scdetect-cc` may not initialize the detector at all. What do you suggest?

[2022-03-22 11:34] mmesim commented on #101
Need to think about it.

[2022-03-24 16:38] damb opened #102 "Allow to configure how to behave if detector initialization partially fails"
Detector initialization may fail due to several reasons, e.g.:
- missing waveform data required for template waveform creation
- missing inventory metadata regarding a stream
- missing template event metadata
- ...

At the time being, `scdetect-cc`  implements the best-effort approach, i.e. the detector is initialized based on the information available. If information required is missing the corre

[2022-03-24 16:40] #101 closed

[2022-03-25 13:10] mmesim opened #103 "Network Magnitudes"
It would be useful to get  network magnitudes for each detection.
Then during the post-processing with `scolv` we can screen magnitudes easily.

[2022-04-14 15:41] damb opened #104 "Correctly create `DataModel::Comment` notifier"
As a reminder.

While sending detections to the SeisComP messaging system, currently no notifier for `DataModel::Comment` items is created. This must be fixed.

[2022-04-14 15:41] damb commented on #104
Thanks for spotting this @mmesim.

[2022-05-06 13:33] luca-s commented on #103
If you are talking only about unassociated origins your understanding is correct, you won't be able to see the magnitude. That is because each origin might have multiple magnitudes and scevent task (one of many) is to select the preferred magnitude among all the origins and among all the magnitudes. You see that selected/preferred magnitude in the event list tab.However if an origin is not associa

[2022-05-09 11:02] #104 closed

[2022-05-09 11:11] damb commented on #103
@mmesim, can you confirm that the StationMagnitudes are displayed after adding e.g. `MRelative` to the list of `visibleMagnitudes`?

[2022-05-09 14:38] mmesim commented on #103
I cannot see StationMAgnitudes.

[2022-05-10 08:50] mmesim commented on #103
I had a short conversation with @luca-s yesterday and it is more clear to me what happened.

In brief, and @luca-s please correct me if I'm wrong,

- **Unassociated origins**: they do not have magnitudes because `scevent` did not run, so we do not have preferred solution or preferred magnitude.
- **Seiscomp Events** (e.g. CH-quakes): an event has been created, `scevent` selected the prefered origi

[2022-05-10 08:59] luca-s commented on #103
@damb basically in the scdetect-cc origin we found the `stationMagnitude` object but the `magnitude` one is missing. Please have a look how a `magnitude` looks like:

![image](https://user-images.githubusercontent.com/15273575/167590285-013aa970-18fd-475a-be09-1766be3dc857.png)

[2022-05-10 09:44] damb commented on #103
@mmesim, which approach do you suggest to compute the [NetworkMagnitude](https://docs.gempa.de/seiscomp/current/apps/scmag.html#scmag-networkm)? Do you require it to be configurable?

@luca-s  thanks.

[2022-05-10 10:29] mmesim commented on #103
I think the median of the station magnitudes will do the trick.

No

[2022-05-16 15:54] #103 closed

[2022-06-14 08:19] #19 closed

[2022-07-05 08:56] morealaz opened #112 "error: ‘ofstream’ is not a member of ‘fs’; did you mean ‘std::ofstream’?"
Hi,
I got this error when trying to build seiscomp with scdetect:
[code]

[2022-07-05 10:39] damb commented on #112
Hi,

thanks for reporting.

- Which compiler are you using? Which version?
- Did you install the *boost libraries*, particularly `boost::filesystem`? I assume, yes. Which version? Most probably it's because of `boost::filesystem` stopped to include the `fstream.hpp` header file automatically.

[2022-07-05 11:08] damb commented on #112
Could you check, whether #113 fixes the compilation issue on your side? Thanks.

[2022-07-05 17:10] morealaz commented on #112
Hi Daniel,

GCC 12.0.1

Yes, boost 1.79.0

BTW I use Archlinux

[2022-07-05 17:42] morealaz commented on #112
Yes, It fixed that error but I got following errors from linker:
[code]
I use sqlite 3.39.0

[2022-07-06 07:28] damb opened #114 "sqlite3 linking error"
The continuation from #112.

[code]

[2022-07-06 10:17] damb commented on #114
AFAIU, running SeisComP tests for all modules requires to enable SQLite3 support.

- Does #115 solve the linking issue on your side, as well (i.e. without enabling SQLite support globally)? (I tested on archlinx, already, though it would be good to have the confirmation from your side, as well.)
- Regarding the failing `test_scdetect_cc_integration` tests: could you please open another issue with

[2022-07-06 11:37] #114 closed

[2022-07-06 12:32] morealaz opened #116 "test_scdetect_cc_integration failed"
Hi
After building with `make` command, running `make test` command give following output:
[code]

with only `test_scdetect_cc_integration` failed.

After that before installing with `make install` command, running `ctest -V -R '^test_scdetect_cc.*'` in `build` directory failed  `test_scdetect_cc_integration` with following errors:
[code]
But after installing with `make install` in destination fold

[2022-07-06 14:04] morealaz commented on #116
thanks

[2022-07-06 14:13] #116 closed

[2022-07-07 14:12] funkes opened #117 "ctest fails partially after compiling with scdetect"
After compiling SeisComP with scdetect-cc "make test" runs to error messages comparable to #114 with the same 7 failed tests:

[code]

After cleaning up the build directory I tried to enabling SQLite support globally (Following #114): I changed SQLite support to ON:

[code]

But the errors persist. An isolated test of "static" brings a hint to the module mseedlite:

[code]

I'm using gcc version 1

[2022-07-07 14:29] damb commented on #117
Thanks for reporting.

[code]

are related to SeisComP's `fdsnws` module. This is unrelated to `scdetect-cc`. (Most probably, these tests fail due to not enabling global SQLite support successfully.)

Let's focus towards running the `scdetect-cc` related tests:

- Can you confirm that `libsqlite3` is available on your system?
- Did you compile successfully (also after enabling SQLite support)? Any

[2022-07-08 09:51] funkes commented on #117
Now the problem is solved: Calling "make test" *after* "make install" brings the last test "31 - test_scdetect_cc_integration" to a successful end. Probably it was my mistaken to call  "make test" *before* "make install", but all the other tests ended successfully in this order too (after compiling the whole SeisComP packages).

[2022-07-08 10:03] damb commented on #117
@funkes, perfect!

Actually, it is a bit fuzzy to have the requirement to first install SeisComP in order to run `scdetect-cc` related tests. Though, at the time being I don't come up with a better idea of how to improve the situation.

[2022-07-08 10:03] #117 closed

[2022-07-13 12:06] mmesim opened #118 "MRelative: Use Network Magnitude (event magnitude) instead of Station Magnitude"
When we compared MRelative magnitudes from `scdetec-cc` with other methods we observed that magnitudes are systematically overestimated. The problem was that we used StationMAgnitudes and the nearest to the source station. Recently SED introduced MLhc, which, if applied, in principle could correct this issue.

Issue 01: there is no correction for events prior to 2021 (in the database) and it is no

[2022-07-13 12:40] damb commented on #118
I'm not sure whether I fully understand the issue raised.

It is correct that `scdetect-cc` uses StationMagnitudes. Whether it is the nearest to the source station depends on the detector configuration. I.e. `scdetect-cc` computes a StationMagnitude for each sensor location listed in the detector configuration (taking into account the corresponding StationMagnitudes from the template origin). Stat

[2022-07-13 13:26] damb commented on #118
So from your description, ideally a user of `scdetect-cc` could configure whether to use the StationMagnitude or the template origin's (Network)Magnitude when it comes to computing `MRelative`. Would this help?

[2022-07-13 13:34] mmesim commented on #118
I think the ideal would be to calculate Mrelative using only the network magnitude.

However, which is the most feasible and faster solution? To have the option to choose between station and network magnitude or use by default only the network magnitude?

[2022-07-13 13:47] damb commented on #118
I'd opt for configurable solution with the NetworkMagnitude as the default.

[2022-07-13 13:49] mmesim commented on #118
Agreed.

[2022-07-18 09:05] damb opened #120 "`MRelative` test fails"
Recently, I observed that one of the `MRelative` related integration tests is failing (i.e. `magnitude/MRelative/single-detector-multi-stream-0001`) with the following log output:

[code]

The behavior doesn't seem to be reproducable, since after rerunning the test, CI passes successfully. Also, I never observed a similar behavior when executing tests locally.

[2022-07-18 12:08] damb commented on #118
@mmesim, a question regarding the NetworkMagnitude to be used:

In the [SeisComP datamodel](https://www.seiscomp.de/doc/base/api-python.html#module-seiscomp.datamodel) `DataModel::Magnitude` is a child object of `DataModel::Origin`. The multiplicity is `N<->1` i.e. multiple NetworkMagnitudes may be associated with a single origin. However, the *preferred magnitude* is defined by `DataModel::Event`

[2022-07-18 12:35] damb commented on #118
As a nother side-effect, using the `DataModel::Event`'s *preferred magnitude* would involve that the `DataModel::EventParameters` must include
- the `DataModel::Event` the template origin belongs to, and
- the  `DataModel::Origin` the preferred magnitude belongs to.

This is definitely a disadvantage, compared to the current implementation, which is more intuitive when it comes to EventParameters

[2022-07-21 13:44] mmesim commented on #118
I understand that might be confusing, however, the preferred manual solution should contain the "preferred " magnitude for the given seismic network. Another issue that I see is that in case a network doesn't use MLh or MLhc, as we do. Then what magnitude is going to be selected as the reference magnitude? If we apply `scdetect-cc` internally then by default the preferred magnitude would be MLhc (

[2022-07-21 13:46] mmesim commented on #118
Does this mean that we have to include the EventID in the template configuration instead of the OriginID?

[2022-07-21 16:08] mmesim commented on #118
So, do you want to merge it or not?

[2022-07-21 20:22] damb commented on #118
Actually I'm not sure, yet.

Besides, I'd like to avoid some user specific *hacks* in the codebase.

[2022-07-24 17:28] mmesim commented on #118
@damb
Ok, I had an epiphany! 💡 One way to decide whether the Network or Station Magnitudes is the optimal solution is to compute for the same dataset magnitudes with the two different methods. I already have results from the Station Magnitude approach (master branch). I can re-run the dataset using the [feature/iss-118](https://github.com/swiss-seismological-service/scdetect/tree/feature/iss-118)

[2022-08-03 14:41] funkes opened #122 "scdetect-cc for Dummies -- ex-03 -- typo for "Raw continuous waveform data""
Playing with the famous documentation [1] probably I've found a typo:

Below the heading "Raw continuous waveform data" related to example ex-03 the preparation for the wget-call starts with an "echo"-sequence with the url to fdsnws. In the docu I've found:

"http://eida.ethz.ch/fdsnws/dataselect/query"

For me it works with an additional "/1/":

"http://eida.ethz.ch/fdsnws/dataselect/1/query"

Th

[2022-08-03 15:29] funkes opened #123 "typo in scdetect-cc for Dummies -- screen results --record-url?"
To show seismograms by scolv (topic scdetect-cc for Dummies -- Offline Playback -- examples ex-02 & ex-03 -- screen results) I changed the option "--record-url" of scolv from

"fdsnws://eida-federator.ethz.ch/fdsnws/dataselect/1/query"

to

"fdsnws://eida.ethz.ch".

Probably the very useful documentation [1] contains a typo?

---

[1] https://scdetect.readthedocs.io/en/stable/base/SCDetect-for-Dum

[2022-08-07 12:43] damb commented on #122
Thanks for pointing this out. Of course, that's a valid point. Please, don't hesitate to provide a PR.

The documentation sources are available in the [`doc/base/`](https://github.com/swiss-seismological-service/scdetect/blob/8fb93fefff6dca7091511926e4df1be858d354e4/doc/base/) directory (relative to the repository's root directory). In your case the file [`Offline-Playback.rst`](https://github.com

[2022-08-07 13:02] damb commented on #123
Thanks for reporting.

Technically, the [`eidaws-federator`](http://eida-federator.ethz.ch/) URL should work, as well. The required MSEED data shouldn't have restricted access permissions and therefore should be accessible.

Though, for the sake of consistency we may switch to ETHZ's `fdsnws-dataselect` endpoint URL. @mmesim, any strong opinions against switching?

[2022-08-08 11:32] mmesim commented on #123
No, please go ahead.
Thanks @funkes for reporting.

[2022-08-08 12:53] damb commented on #123
@funkes, could you please provide a PR? Thanks.

[2022-08-08 16:04] funkes commented on #123
See branch "patch-1"; hopefully it meets your suggestions?!

Sorry for my hesitance, but it was my first PR on GIT. So I'm not sure, whether I've found a proper way.

Are explicite hints to the related issues (#122, #123) useful?

[2022-08-08 18:48] #122 closed

[2022-08-08 18:48] #123 closed

[2022-08-15 09:37] mmesim commented on #118
@damb Question
I re-compiled `scdetect-cc` under  https://github.com/swiss-seismological-service/scdetect/tree/feature/iss-118 but I cannot get Magnitudes.

[code]

Thoughts?

[2022-08-15 13:44] mmesim opened #125 "Phase association issue (regression)"
Well, I was testing [feature/iss-118](https://github.com/swiss-seismological-service/scdetect/tree/feature/iss-118) when I noticed something weird. When I run `scdetect-cc` on multiple stations & multiple channels and setting the `minimumArrivals` to 8 (for example) in the `template.json`, the code returns all possible detections and ignores completely this value. Same when I run `scdetect-cc` on

[2022-08-15 14:57] mmesim commented on #125
The issue is definitely related to `scdetect-cc` and the current master branch.

I ran a few examples with an older version of `scdetect-cc` and it worked fine. However I still get  the same error when trying to fix `Minimumarrivals` in `scconfig`.

When I switched to the latest master the `MinimumArivals` set in `templates.json` is ignored.

[2022-08-16 10:23] damb commented on #118
Magnitudes of type `MRelative` require a template magnitude to be configured. However, as the log entry states, creating the magnitude processor failed (due to a missing template magnitude). As a consequence, the station magnitude could not be computed.

I guess you wanted to compute `MRelative` based on the event's (preferred) NetworkMagnitude. In this case you need the event including the origin

[2022-08-16 10:53] mmesim commented on #118
Yes, it work when I used an input file that contained the event and the preferred origin. Thanks a lot for the input.

[2022-08-16 10:58] mmesim commented on #125
[input.files.zip](https://github.com/swiss-seismological-service/scdetect/files/9350087/input.files.zip)

In the zip you can find all the input files and the expected results.

[2022-08-16 13:00] damb commented on #118
Note that it is not the preferred origin which is taken into account. Instead, it is the preferred magnitude (which may be unrelated to the preferred origin). So in order to make things work, the user is required to provide
- the event
- the template origin
- the origin which contains the event's preferred magnitude.

[2022-08-16 13:02] damb commented on #125
Perfect, @mmesim. Thanks a lot.

[2022-08-16 13:16] mmesim commented on #125
I confirm that I misspelled `minimumArrivals` here. The .json file is fine.

[2022-08-17 21:48] damb commented on #125
Actually, there were two issues:

- First of all, there was an issue with the phase association introduced with a1d8ce843ac81a09b82cc4930fc60a7ca639a80f. This should be fixed with #126.
- Besides, the default module configuration parameter wasn't validated properly such that the `scdetect-cc` stopped with the error message from above. Due to simplicity I fixed this one with #126, as well.

[2022-08-17 21:56] damb opened #127 "Describe how to display the detection score in the `scolv` Events tab"
Although, displaying a custom column in `scolv`'s *Events tab* is already described in the [`scolv` documentation](https://www.seiscomp.de/doc/apps/scolv.html#id4) it would be good to add a view sentences to the documentation how to display the detection score within an additional column. Particularly for less experienced users this would be very useful.

[2022-08-17 21:58] damb commented on #127
@mmesim , AFAIK you have a working configuration already. Could you do this? Thanks.

[2022-08-22 13:27] damb opened #128 "Add detection result summary for offline playback tutorial examples"
The template configuration of the [third offline playback example](https://scdetect.readthedocs.io/en/stable/base/SCDetect-for-Dummies.html#example-multi-detector-multi-station-multi-channel-detection) ([sources](https://github.com/swiss-seismological-service/scdetect/blob/3372889183d995f408a601245ba910ac4c8b079d/doc/base/Offline-Playback.rst)) contains overall three detector configurations. Thoug

[2022-08-22 13:48] damb opened #129 "`"triggerDuration"` not correctly applied when making use of the `"minimumArrivals"` configuration parameter"
While following the third offline playback example of the tutorial and playing around with the configuration I noted some inconsistencies regarding the first detector configuration (`"detectorId": "detector-01"`). The configuration uses `"minimumArrivals": 5`, i.e. according to the documentation a detection should be declared as soon as the number of associated phases is >= 5. Although, this works

[2022-08-22 14:29] damb opened #130 "Missing detections if trigger facilities enabled"
Again, I noticed some inconsistencies while playing around with the the third offline playback example. That is, when running the example for the detector configuration identified by `"detectorId": "detector-01"` some of the detections are missing when enabling trigger facilities.

While the results are consistent for the detector identified by `"detectorId": "detector-02"`, I obtained the followi

[2022-08-22 14:43] #125 closed

[2022-08-22 18:56] mmesim commented on #128
No. I did not notice that.

[2022-08-23 06:16] damb commented on #128
Technically, it is fine if there is no detection. Usually, users don't know ahead of time whether there are detections for a specific template or not.

Anyway, providing the expected results (e.g. a table including the detection origin times and the detector identifiers) as part of the tutorial would IMO be of great value.

[2022-08-30 18:18] #129 closed

[2022-08-30 18:18] #130 closed

[2022-08-30 21:37] #128 closed

[2022-09-07 14:13] mmesim commented on #127
Well, I thought a bit about it and I came to the conclusion that this is a `SeisComP` related issue. The documentation on the `SeisComP` page is already very detailed. I'll add here a detail comment so in the future the `scdetect-cc` users will find an answer in this closed issue.

`SeisComP` allows the user to add a custom column, for example in `scolv`, to show origin or event comments. In the c

[2022-09-08 19:16] damb commented on #127
Although, I agree that this issue is kind of SeisComP related, I'd have added a description (referencing the corresponding section of the SeisComP documentation) of how to display the detection score to the SCDetect documentation. This is for several reasons:
- First of all, for the user it is not clear that `scdetect-cc` attaches the detection score by means of a `DataModel::Comment` to the detec

[2022-09-09 10:44] mmesim commented on #127
You convinced me. :roll_eyes: :woman_facepalming: